<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
  <ul class="nav-menu">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Generos", movie_genres_path%></li>
    <li><%= link_to "Diretores", directors_path %></li>
    <li><%= link_to "Filmes", movies_path %></li>
  </ul>
</nav>
    <%= yield %>
  </body>
</html>
